@page "/"
@namespace AJH657NETBlazor.Pages
@using Microsoft.Extensions.Configuration
@inject IConfiguration Config
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AJH657</title>
    <base href="~/" />

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="js/TailwindCSS.js"></script>
    <script src="https://kit.fontawesome.com/@(Config.GetValue<string>("FA")).js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet" />
    <link href="AJH657NETBlazor.styles.css" rel="stylesheet" />
</head>
<body class="bg-secondary">
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
